
set $rm=1
define hook-stop
  if ($cr0 & 1) == 1
    if $rm == 1
      set architecture i386
      set $rm=0
      printf "Switched to Protected Mode"
    end
  else
    if $rm == 0
      set architecture i8086
      set $rm=1
      printf "Switched to Real Mode"
    end
  end
end
document hook-stop
!!! FOR INTERNAL USE ONLY - DO NOT CALL !!!
end


# Architecture and Target System configuration
set architecture i386
#set tdesc filename tools/debug/target_i386.xml

set disassembly-flavor intel

add-symbol-file /home/andreas/Work/OpenSource/StudyOS/build/boot_stage2_elf.elf 0x7E00
break *0x7c00